@font-face {
  font-family: 'Comic Sans MS';
  src: url('../fonts/Comic_Sans_MS.woff2');
  src: url('../fonts/Comic_Sans_MS.eot') format('embedded-opentype'),
    url('../fonts/Comic_Sans_MS.woff2') format('woff2'),
    url('../fonts/Comic_Sans_MS.woff') format('woff'),
    url('../fonts/Comic_Sans_MS.ttf') format('truetype'),
    url('../fonts/Comic_Sans_MS.svg') format('svg');
}

$background-color-light: #1a1a1a;
$background-color-dark: #111111;
$background-color-form: #2b2b2b;
$bp-500: 500px;
$bp-600: 600px;
$bp-700: 700px;
$bp-800: 799px;
$bp-1000: 999px;
$bp-1200: 1199px;
$bp-1250: 1250px;

:root {
  --color: #fd2155;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color);
  color: white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', cursive, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

body {
  background-color: $background-color-light;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 3px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.app {
  color: white;
  font-size: 2rem;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;

  @media screen and (min-width: $bp-500) {
    gap: 12.5rem;
  }
}

.arrowUp {
  position: fixed;
  bottom: 0;
  right: 0;
  color: var(--color);
  cursor: pointer;
  font-size: 2.25rem;
  padding: 1.5rem 1rem;

  @media screen and (max-width: $bp-1250) {
    display: none;
  }
}

.navSmall {
  &__box {
    padding: 1.25rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -2000px;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: $background-color-dark;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &__btn {
    text-decoration: none;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color);
    font-size: 2.25rem;
    cursor: pointer;
    transition: all 0.15s;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      background-color: currentColor;
      border-radius: 3px;
    }

    &:hover {
      opacity: 1;

      &::before {
        animation: btn-border-grow 0.25s forwards;
        @keyframes btn-border-grow {
          to {
            width: 100%;
          }
        }
      }
    }
  }

  &__btnResume {
    background-color: transparent;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    color: var(--color);
    border-radius: 3px;
    transition: all 0.15s;
    text-decoration: none;
    border: 3px solid var(--color);
    box-shadow: 3px 3px 0 0 var(--color);

    &:hover {
      box-shadow: 0 0 0 0 var(--color);
      background-color: rgba(var(--color), 0.1);
    }

    &::before {
      animation: none !important;
    }
  }

  &__iconOpen {
    font-size: 3rem;
    color: var(--color);
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__iconClose {
    position: absolute;
    top: 4rem;
    right: 2rem;
    font-size: 3rem;
    color: var(--color);
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.nav {
  width: 100%;
  align-self: center;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 5rem;

  &__box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__btn {
    text-decoration: none;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color);
    font-size: 2rem;
    opacity: 0.75;
    cursor: pointer;
    transition: all 0.15s;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      background-color: currentColor;
      border-radius: 3px;
    }

    &:hover {
      opacity: 1;

      &::before {
        animation: btn-border-grow 0.25s forwards;
        @keyframes btn-border-grow {
          to {
            width: 100%;
          }
        }
      }
    }
  }

  &__btnResume {
    background-color: transparent;
    outline: none;
    font-size: 1.75rem;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    color: var(--color);
    border: 3px solid currentColor;
    border-radius: 3px;
    transition: all 0.15s;
    text-decoration: none;
    border: 3px solid var(--color);
    box-shadow: 3px 3px 0 0 var(--color);

    &:hover {
      box-shadow: 0 0 0 0 var(--color);
      background-color: rgba(var(--color), 0.1);
    }

    &::before {
      animation: none !important;
    }
  }
}

.logo {
  position: relative;
  width: 45px;
  cursor: pointer;
  fill: var(--color) !important;
}

.colors {
  display: flex;
  gap: 1rem;
  border-top-right-radius: 15px;

  @media screen and (max-width: $bp-1000) {
    display: none;
  }

  &__color {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.1s;

    &--selected {
      border: 2px solid white;
      opacity: 1;
    }
  }
}

.intro {
  position: relative;
  align-self: center;
  max-width: 1000px;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media screen and (min-width: $bp-800) {
    padding: 0 5rem 7.5rem 5rem;
  }

  &__arrow {
    position: absolute;
    width: 17.5rem;
    bottom: -7.5rem;
    left: 50%;
    transform: translateX(-50%) rotate(100deg);
    fill: var(--color) !important;

    @media screen and (max-width: $bp-1000) {
      display: none;
    }
  }

  &__name {
    max-width: max-content;
    position: relative;
    font-size: 4.25rem;
    color: var(--color);

    @media screen and (min-width: $bp-500) {
      font-size: 6rem;
    }
  }

  &__title {
    max-width: max-content;
    position: relative;
    font-size: 2.1rem;
    color: var(--color);

    @media screen and (min-width: $bp-500) {
      font-size: 3rem;
    }
  }

  &__text {
    position: relative;
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;

    @media screen and (min-width: $bp-500) {
      font-size: 1.75rem;
      line-height: 3rem;
    }
  }

  &__btn {
    text-decoration: none;
    max-width: max-content;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.75rem 2.5rem;
    color: var(--color);
    border: 3px solid currentColor;
    border-radius: 3px;
    transition: all 0.15s;
    margin-top: 1rem;
    border: 3px solid var(--color);
    box-shadow: 3px 3px 0 0 var(--color);

    &:hover {
      box-shadow: 0 0 0 0 var(--color);
      background-color: rgba(var(--color), 0.1);
    }

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }

    &::before {
      animation: none !important;
    }
  }
}

.links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;

  &__link {
    color: var(--color);
    font-size: 2.1rem;
    transition: all 0.15s;
    opacity: 0.75;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

.skills {
  align-self: center;
  max-width: 1000px;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: $bp-800) {
    padding: 3rem 5rem 0 5rem;
  }

  &__heading {
    font-size: 2.75rem;
    color: var(--color);

    @media screen and (min-width: $bp-500) {
      font-size: 3.25rem;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: $bp-500) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $bp-700) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__skill {
    position: relative;
    padding-left: 2rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;

    @media screen and (min-width: $bp-500) {
      font-size: 1.75rem;
    }

    &::before {
      content: '▹';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: var(--color);
    }
  }
}

.projects {
  align-self: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: $bp-800) {
    padding: 3rem 5rem 0 5rem;
  }

  &__heading {
    font-size: 2.75rem;
    color: var(--color);
    align-self: center;

    @media screen and (min-width: $bp-500) {
      font-size: 3.25rem;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media screen and (min-width: $bp-700) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $bp-1200) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__project {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 3px;
    overflow: hidden;
    border: 3px solid var(--color);
    position: relative;
    padding: 2rem;
    box-shadow: 6px 6px 0 0 var(--color);
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 0 var(--color);
    }
  }

  &__projectImg {
    position: relative;
    width: 100%;
  }

  &__folderIcon {
    font-size: 4rem;
    color: var(--color);
  }

  &__projectInnerBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__projectName {
    font-size: 1.6rem;
    color: var(--color);
    font-weight: 700;

    @media screen and (min-width: $bp-500) {
      font-size: 1.75rem;
    }
  }

  &__projectDescription {
    font-size: 1.5rem;
    color: white;
    line-height: 2.5rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }
  }

  &__projectTechs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  &__projectTech {
    position: relative;
    font-size: 1.5rem;
    color: white;
    padding-left: 2rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }

    &::before {
      content: '▹';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: var(--color);
    }
  }

  &__projectLinks {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 3rem;
    right: 2rem;
  }

  &__projectLink {
    color: var(--color);
    font-size: 2rem;
    transition: all 0.15s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.about {
  align-self: center;
  max-width: 1000px;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: $bp-800) {
    padding: 3rem 5rem 0 5rem;
  }

  &__heading {
    font-size: 2.75rem;
    color: var(--color);

    @media screen and (min-width: $bp-500) {
      font-size: 3.25rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__innerBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__text {
    position: relative;
    font-size: 1.6rem;
    color: white;
    padding-left: 2rem;
    line-height: 2.5rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.75rem;
      line-height: 3rem;
    }

    &::before {
      content: '▹';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: var(--color);
    }
  }

  &__btn {
    text-decoration: none;
    max-width: max-content;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.75rem 2.5rem;
    color: var(--color);
    border-radius: 3px;
    transition: all 0.15s;
    border: 3px solid var(--color);
    box-shadow: 3px 3px 0 0 var(--color);

    &:hover {
      box-shadow: 0 0 0 0 var(--color);
      background-color: rgba(var(--color), 0.1);
    }

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }
  }
}

.contact {
  align-self: center;
  max-width: 1000px;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: $bp-800) {
    padding: 3rem 5rem 0 5rem;
  }

  &__heading {
    font-size: 2.75rem;
    color: var(--color);

    @media screen and (min-width: $bp-500) {
      font-size: 3.25rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__text {
    position: relative;
    font-size: 1.6rem;
    color: white;
    line-height: 2.5rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.75rem;
      line-height: 3rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__formMessage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem;
    border-radius: 3px;
    background-color: $background-color-dark;

    &Close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
      color: var(--color);

      @media screen and (min-width: $bp-500) {
        font-size: 3rem;
      }
    }

    &Icon {
      font-size: 3rem;
      color: var(--color);

      @media screen and (min-width: $bp-500) {
        font-size: 3.5rem;
      }
    }

    &Message {
      font-size: 1.6rem;
      line-height: 2.5rem;
      color: white;

      @media screen and (min-width: $bp-500) {
        font-size: 1.75rem;
      }
    }
  }

  &__formMain {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__formBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: $bp-500) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__inputBox {
    width: 100%;
    position: relative;
  }

  &__input {
    position: relative;
    outline: none;
    border: none;
    width: 100%;
    padding: 1.5rem;
    background-color: $background-color-form;
    font-size: 1.5rem;
    color: white;
    border-radius: 3px;

    &:focus + div {
      width: 100%;
    }

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }
  }

  &__inputAfter {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--color);
    border-radius: 3px;
    transition: all 0.25s;
  }

  &__textarea {
    outline: none;
    border: none;
    width: 100%;
    padding: 1.5rem;
    background-color: $background-color-form;
    font-size: 1.5rem;
    color: white;
    border-radius: 3px;
    resize: vertical;

    &:focus + div {
      width: 100%;
    }

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }
  }

  &__btn {
    max-width: max-content;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.75rem 2.5rem;
    color: var(--color);
    border-radius: 3px;
    transition: all 0.15s;
    border: 3px solid var(--color);
    box-shadow: 3px 3px 0 0 var(--color);

    &:hover {
      box-shadow: 0 0 0 0 var(--color);
      background-color: rgba(var(--color), 0.1);
    }

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }
  }
}

.footerLinks {
  align-self: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  &__link {
    color: var(--color);
    font-size: 2.25rem;
    transition: all 0.15s;
    opacity: 0.75;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &__text {
    font-size: 1.5rem;
    color: var(--color);
    line-height: 2.5rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }
  }
}
